<ion-header>
  <ion-toolbar>
    <ion-title>Edit Client</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveClient()">

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="client.name" name="name" required></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Date of Birth</ion-label>
      <ion-input type="date" [(ngModel)]="client.dob" name="dob" required></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-select [(ngModel)]="client.gender" name="gender" required>
        <ion-select-option value="Male">Male</ion-select-option>
        <ion-select-option value="Female">Female</ion-select-option>
        <ion-select-option value="Unspecified">Unspecified</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Fitness Program</ion-label>
      <ion-select [(ngModel)]="client.fitness_program" name="fitness_program" required>
        <ion-select-option value="fat loss">Fat Loss</ion-select-option>
        <ion-select-option value="muscle gain">Muscle Gain</ion-select-option>
        <ion-select-option value="senior fitness">Senior Fitness</ion-select-option>
        <ion-select-option value="pre/postnatal fitness">Pre/Postnatal Fitness</ion-select-option>
        <ion-select-option value="overall fitness">Overall Fitness</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Joined Date</ion-label>
      <ion-input type="date" [(ngModel)]="client.joined_date" name="joined_date" required></ion-input>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Ending Date</ion-label>
      <ion-input type="date" [(ngModel)]="client.ending_date" name="ending_date" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Special Health Notes</ion-label>
      <ion-textarea [(ngModel)]="client.special_health_notes" name="special_health_notes" required></ion-textarea>
    </ion-item>


    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>


    <div *ngIf="successMessage" class="success-message">
      {{ successMessage }}
    </div>

    <ion-button
      expand="full"
      type="submit"
      [disabled]="
        !client.name ||
        !client.dob ||
        !client.gender ||
        !client.fitness_program ||
        !client.joined_date ||
        !client.ending_date ||
        !client.special_health_notes
      "
    >
      Save Changes
    </ion-button>
  </form>
</ion-content>

<ion-footer>
  <ion-button expand="full" [routerLink]="'/home'">Back to Home</ion-button>
</ion-footer>
